<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Error | Sineware Static Proxy</title>
    <script>
      window.onload = function() {
        document.getElementById("window_location").innerHTML = window.location.href;
      }
    </script>
  </head>
  <body>
    <main class="container">      
      <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
        <b>- <%= http_code %> -</b>
        <p><%= http_message %></p>
      </div>
      <div style="position:absolute; bottom: 1%; left: 1%;">
        <details>
          <summary>Details</summary>
          <hr />
          <b>An error occurred processing this request.</b>
          <p><code>"<%= error_message %>" for <span id="window_location">unknown</span></code></p>
          <i>powered by <a href="https://github.com/Sineware/static-proxy">Sineware Static Proxy</a> | AGPL v3 Licensed</i>
        </details>
      </div>
    </main>
  </body>
</html>